{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>About Us</h1>
            <p class="">Praesent elementum metus elit, scelerisque facilisis
                ligula pulvinar sit amet. Cras efficitur pharetra fringilla.
                Sed leo massa, pharetra in congue id, convallis eget nulla.
                Proin mollis erat diam, non ultricies augue eleifend vel.
                Vivamus rutrum condimentum ipsum, eget volutpat augue
                ullamcorper eu. Mauris a ipsum eu erat posuere volutpat. Sed
                placerat lacus convallis ex pretium, sit amet efficitur urna
                mollis. Nam scelerisque, lorem in maximus imperdiet, massa elit
                pharetra metus, at dignissim ipsum augue vel purus. Suspendisse
                lacinia aliquet pretium. Suspendisse maximus eros vel dolor
                ullamcorper tempus. Proin eget mauris at mi imperdiet
                facilisis. Etiam pretium, nibh eu tempor blandit, nibh massa
                rhoncus velit, sed ultricies urna orci at augue. Nam ultricies
                quam at lobortis posuere. Pellentesque luctus ligula dignissim
                sagittis gravida. Duis vitae elementum nisl.</p>
        </div>
    </div>


{% endblock %}