{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block head_title %} Welcome | {% endblock %}
<style>
{% block style %}
.jumbotron{
background-color: #3c763d}
 {% endblock %}
</style>

{% block jumbotron %}
    <div class="jumbotron">
    <div class="container">
    <div class="row">
        <div class="col-sm-6">

            <h1>Try Django 1.8</h1>
            <p>The MVP landing project is desgiend to get your project stated.
                Teh
                goal is to hel you laucht as soos as possible with the least
                amount
                of investment using time or money</p>

            <p>
                <a class="btn btn-lg btn-primary" href=""
                   role="button">Join Us &raquo;</a></p>

        </div>
    <div class="col-sm-6"style="background-color: black;height: 300px;">

    </div>
    </div></div></div>
{% endblock %}




{% block content %}
    {%  if request.user.is_authenticated %}
    <h1>You are logged in!</h1>
    {{ queryset }}

    {% else %}
    <div class="row">

        <div class="col-sm-3 pull-right">
            <p class="lead text-align-center"> {{ title }}</p>

            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="Sign Up"/>

            </form>
        </div>
        <div class="col-sm-3">
        <p class="lead text-align-center"> Build with Djang & Bootstrap</p>
    </div>
        <div class="col-sm-3">
        <p class="lead text-align-center"> Created for Starters of all kinds</p>
    </div>
        <div class="col-sm-3">
        <p class="lead text-align-center"> Always Open Source</p>
    </div>

    </div>
    {% endif %}
{% endblock %}
